.todo-container {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 35%;
}

.todo-header {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color : transparent;
}

.todo-list {
    background-color : transparent;
    width: 100%;
    max-height: 500px;
    display: block;
    overflow-y: auto;
}

.todo-item {
    background-color : rgba(207, 207, 207, 0.83);
    word-wrap: break-word;
    border-radius: 5px;
    padding: 20px;
    margin: 3px;
    display: block;
}

.todo-item-completed {
    text-decoration : line-through;
}

.todo-item-normal {
    text-decoration : none;
}

.fa.fa-edit.todo-icon {
    float: left;
    padding: 3px;
    color: #31b874;
}

.fa.fa-remove.todo-icon {
    float: right;
    padding: 3px;
    color: rgba(226, 14, 52, 0.67);
}

.fa.fa-check.todo-icon {
    float: right;
    padding: 3px;
    color: #31b874;
}

.edit-todo-item {
    background-color : lightgray;
    padding: 20px;
    margin: 3px;
    border-radius: 5px;
    word-wrap: break-word;
    display: block;
}

.edit-todo-input {
    border: none;
    background-color: lightgray;
    width: 80%;
    display: inline-block;
}

.edit-todo-button {
    border: none;
    background-color: transparent;
    width: 10%;
    float : right;
    padding: 0;
    margin: 0;

}

.todo-filter {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    background-color: lightgray;
}

.todo-filter > button {
    width: 25%;
    background-color : lightgray;
    border: none;
}
